.top-scorers{
width:90%;
max-width:1100px;
margin:50px auto;
}

.top-scorers h2{
color:#0B5D1E;
margin-bottom:20px;
}

.player-card{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
margin-bottom:15px;
background:white;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.player-card:hover{
transform:translateY(-3px);
transition:.3s;
}