.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#0B5D1E;
    color:white;
    padding:15px 40px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links li{
    cursor:pointer;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#FFD700;
}